#### Create OLTP DB

In [1]:
import psycopg2

In [2]:
#establishing the connection
conn = psycopg2.connect(
   database="pagila_oltp", user='postgres', password='Root123$', host='127.0.0.1', port= '5432'
)
conn.autocommit = True

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

# #Preparing query to create a database
# sql = '''CREATE DATABASE pagila_oltp''';

# #Creating a database
# cursor.execute(sql)
# print("Database created successfully........")

# # #Closing the connection
# # conn.close()

#### Create Tables

In [13]:
#Creating table as per requirement
sql_customer_tbl ='''
CREATE TABLE IF NOT EXISTS customer (
    customer_id INT NOT NULL,
    first_name character varying(45) NOT NULL,
    last_name character varying(45) NOT NULL,
    email character varying(50),
    create_date date DEFAULT ('now'::text)::date NOT NULL,
    last_update timestamp without time zone DEFAULT now(),
	PRIMARY KEY (customer_id)
)
'''

sql_staff_tbl = '''
CREATE TABLE IF NOT EXISTS staff (
    staff_id INT NOT NULL,
    first_name character varying(45) NOT NULL,
    last_name character varying(45) NOT NULL,
    email character varying(50),
    last_update timestamp without time zone DEFAULT now() NOT NULL,
	PRIMARY KEY (staff_id)
)
'''

sql_film_tbl = '''
CREATE TABLE IF NOT EXISTS film (
    film_id INT NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    release_year DATE NOT NULL DEFAULT CURRENT_DATE,
    original_language_id smallint,
    rental_duration smallint DEFAULT 3 NOT NULL,
    rental_rate numeric(4,2) DEFAULT 4.99 NOT NULL,
    length smallint,
    replacement_cost numeric(5,2) DEFAULT 19.99 NOT NULL,
    last_update timestamp without time zone DEFAULT now() NOT NULL,
	PRIMARY KEY (film_id)
) '''


sql_inventory_tbl =  '''
CREATE TABLE IF NOT EXISTS inventory (
    inventory_id INT NOT NULL,
    film_id smallint NOT NULL,
    last_update timestamp without time zone DEFAULT now() NOT NULL,
	PRIMARY KEY (inventory_id),
	FOREIGN KEY (film_id) REFERENCES film (film_id)
)
'''

sql_rental_tbl = '''
CREATE TABLE IF NOT EXISTS rental (
    rental_id INT NOT NULL,
    rental_date timestamp without time zone NOT NULL,
    inventory_id INT NOT NULL,
    customer_id INT NOT NULL,
    return_date timestamp without time zone,
    staff_id INT NOT NULL,
    last_update timestamp without time zone DEFAULT now() NOT NULL,
	PRIMARY KEY (rental_id),
	FOREIGN KEY (inventory_id) REFERENCES inventory (inventory_id),
	FOREIGN KEY (customer_id)  REFERENCES customer (customer_id),
	FOREIGN KEY (staff_id)     REFERENCES staff (staff_id)
)
'''

sql_payment_tbl = '''
CREATE TABLE IF NOT EXISTS payment (
    payment_id INT NOT NULL,
    customer_id integer NOT NULL,
    staff_id integer NOT NULL,
    rental_id integer NOT NULL,
    amount numeric(5,2) NOT NULL,
    payment_date timestamp without time zone NOT NULL,
    PRIMARY KEY (payment_id),
	FOREIGN KEY (staff_id)     REFERENCES staff (staff_id),
 	FOREIGN KEY (customer_id)  REFERENCES customer (customer_id),
	FOREIGN KEY (rental_id)    REFERENCES rental (rental_id)
)
'''

cursor.execute(sql_customer_tbl)
cursor.execute(sql_staff_tbl)
cursor.execute(sql_film_tbl)
cursor.execute(sql_inventory_tbl)
cursor.execute(sql_rental_tbl)
cursor.execute(sql_payment_tbl)
print("Tables created successfully........")

conn.commit()

#Closing the connection
#conn.close()

Tables created successfully........